.send-btn{
  background-color: #22be34;
  padding-left: 15px;
  padding-right: 15px;
}

.img-close{
  position: absolute;
  top:0;
  right: 0px;
  background-color: #ccc;
}
.img-item{
  display: inline-block;
}
.imgs{
  display: inline-block;
  position: relative;
  height: 50px;
  vertical-align: bottom;
  img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  ion-icon{
    color: #fff;
    width: 19px;
    text-align: center;
  }
}
.imgs:nth-child(1){
  margin-left: -10px;
}
